html, body {
      position: relative;
      margin: 0;
      }
#head-box {
      position: fixed;
      top: 0;
      height: 42px;
      width: 100%;
      z-index: 5;
      }
#head {
      font-size: 40px;
      letter-spacing: 3px;
      text-align: center;
      font-family: 'Cabin Sketch', 
        Serif;
      color: #000;
      padding-top: 10px;
      width: 100%;
      height: 42px;
      box-shadow: 1px 1px 5px 1px #55555588;
      background-color: #fff;
      }
#page-main-body {
      margin: 5px;
      z-index: 4;
}
.book{
        text-align: center;
        font-size: 140%;
      }
.cover{
        display: block;
        margin: auto;
        width: 60%;
        height: auto;
      }
.cover:hover{
        opacity: 0.6;
      }
.volName, .fullName{
        font-family: 'Noto Sans JP',
          sans-serif;
        text-align: center;
        line-height: 1;
      }
#Name{
        text-align: center;
        line-height: 1;
        font-weight: bold;
        font-size: 25px;
        font-family: 'Oswald', 
                sans-serif;
      }
.volNo{
        color: rgb(145,66,232);
      }
.edition{
        font-family: sans-serif;
        font-size: 19px;
        color: rgb(145,66,232);
      }
.down{
        display: inline-block;
        color: #ff0000;
        background-color: #ffffff;
        border: 1px solid #ff0000;
        border-radius: 5px;
        padding: 3px 20px;
        text-decoration: none;
        cursor: pointer;
        transition: 1s;
      }
.down:hover{
        background-color: #ff0000;
        color: #ffffff;
      }
hr{
        text-align: center;
        width: 90%;
      }
.share{
        height: 27px;
        font-size: 23px;
        display: block;
        float: right;
        text-decoration: none;
        border: 1px solid #000000;
        border-radius: 3px;
        padding: 3px;
        box-shadow: none;
      }
.share:hover{
        border: 1px solid #000000;
        box-shadow: 0.3px 0.3px 3px 0.5px
        rgb(17,20,20) inset;
      }
#box {
      display: flex;
}
.bubble {
      flex: 1;
      margin: 10px;
      width: 10%;
      height: 40px;
      border: 1px solid #c8c8c8;
      border-radius: 60px;
      text-align: center;
      background-color: #fff;
      color: #000;
      user-select: none;
      }
.bubble:hover {
      box-shadow: 1px 1px 7px 1px #55555588;
      }
.back, .med, .home {
      padding: 7px;
      font-size: 25px;
      display: block;
      margin: auto;
}
#moreBooks {
        text-align: left;
        font-size: 20px;
}
#moreBooksHeader {
        text-align: left;
        font-weight: bold;
        font-size: 20px;
        font-family: 'Oswald', 
                sans-serif;
}
.subjects{
        display: block;
        text-align: left;
        line-height: 1.5;
        color: #000000;
        font-size: 20px;
        text-decoration: none;
        font-family: 'Roboto', 
          sans-serif;
      }
.subjects:hover {
        text-decoration: underline;
      }
#linkNotWorking {
        text-align: left;
        font-size: 16px;
        font-family: 'Noto Sans JP',
          sans-serif;
}
#copyright {
        font-family: 'Noto Sans JP',
          sans-serif;
        line-height: 1.2;
        text-align: center;
        font-size: 16px;
    }
#copyrightHead {
      font-size: 150%;
      color: #ff0000;
    }
#DMCA, #contact {
      text-decoration: none;
}
#DMCA:hover, #contact:hover {
      text-decoration: underline;
}  
header.centered-top-container,
div.centered-top-placeholder.cloned,
.post h3,
.post-share-buttons-top,
div.post-bottom,
footer#footer.footer.section{display:none}
