body {
        background-color: #eafffecc;
	background-image: linear-gradient(to right, #8de4ecf7,
        #eafffecc,
        #8de4ecf7)
	  }
#head {
      position: sticky;
      top: 5px;
      font-size: 220%;
      background: #eafffecc;
      letter-spacing: 3px;
      text-align: center;
      font-family: 'Mitr', Serif;
      color: black;
      text-shadow: 1px 1px 2px black;
      padding: 13px 1px;
      border: 2px solid 
         #55555588;
      border-radius: 10px;
      box-shadow:
        1px 1px 20px 5px 
        #111414 inset;
      cursor: pointer;
      transition: 2s ease-out;
      }
#subName {
        text-align: center;
        line-height: 1;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 40px;
        font-family: 'Cabin Sketch', 
                sans-serif;
    }
.cover {
	    width: 65px;
	    height: 80px;
	    float: left;
	    display: inline-block;
	    margin-right: 20px;
	  }
.bookName {
      height: 85px;
      line-height: 1.2;
      font-size: 23px;
      font-weight: 500;
      font-family: serif, 
        Times New Roman;
      padding-top: 5px;
      border-bottom: 1px solid black;
    }
.bookName::first-letter {
      font-size: 175%;
    }
.bookPage {
      text-decoration: none;
      color: #b14a5f;
    }
.bookPage:hover {
      color: #b14a5f;
      padding: 2px;
      padding-right: 3px;
      box-shadow: 
        1px 1px 5px 1px black;
    }
.share {
        height: 27px;
        font-size: 23px;
        display: block;
        float: right;
        text-decoration: none;
        border: 1px solid #000000;
        border-radius: 3px;
        padding: 3px;
        box-shadow: none;
      }
.share:hover {
        border: 1px solid #000000;
        box-shadow: 0.3px 0.3px 3px 0.5px
        rgb(17,20,20) inset;
      }
.bubble {
        line-height: 3;
        width: 13%;
        height: 40px;
        display: inline-block;
        padding: 0px 10px;
        border: 1px solid #8758f8;
        border-radius: 60px;
        text-align: center;
        background-color: #c4acfdd7;
        font-weight: bold;
        color: #ffffff;
        user-select: none;
      }
.bubble:hover {
       color: #000000;
       border: 1px solid #000000;
      }
.back, .med, .home {
       font-size: 25px;
}
.medbub {
       margin-left: 30px;
}
.homebub {
        margin-left: 30px;
}
.backbub {
        margin-left: 30px;
}
#moreBooksHeader {
        font-weight: bold;
        font-size: 20px;
        font-family: 'Oswald', 
                sans-serif;
}
.subjects {
        display: block;
        line-height: 1.5;
        color: #000000;
        font-size: 20px;
        text-decoration: none;
        font-family: 'Roboto', 
          sans-serif;
      }
.subjects:hover {
        text-decoration: underline;
      }
#linkNotWorking {
        font-family: 'Noto Sans JP',
          sans-serif;
}
#copyright {
        font-family: 'Noto Sans JP',
          sans-serif;
        line-height: 1.2;
        text-align: center;
    }
#copyrightHead {
      font-size: 150%;
      color: #ff0000;
    }
    
header.centered-top-container,
.post h3,
.post-share-buttons-top,
div.post-bottom,
footer#footer.footer.section{display:none}
